$default-font-size: 1.6rem;

$f1: 'Montserrat', sans-serif;

$default-font: $f1;

$font-heading: $f1;
$font-text: $f1;
$font-logo: $f1;

$c1: orangered;
$c2: #e0e0e0c2;

$color-primary: $c1;
$color-secondary: $c2;
$bg-color:rgb(0,9,66);

$animation-time: .3s;
$animation-function: linear;


